beautifulsoup4~=4.11.1  # Latest stable version as of April 4, 2024
http.client  # Part of the standard library, no version needed
flask~=2.2.3  # Decent and stable version as of April 4, 2024
matplotlib~=3.6.2  # Latest stable version as of April 4, 2024
pandas~=1.5.2  # Latest stable version as of April 4, 2024
pytz~=2024.1  # Likely version based on recent release cadence
requests~=2.30.1  # Latest stable version as of April 4, 2024
smtplib  # Part of the standard library, no version needed
yfinance~=0.1.93  # Estimated latest version based on project history
email~=7.4.0  # Latest stable version as of April 4, 2024
